{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    وب سایت آقای موزیک
                </h1>
                <h4>
                    هرگونه کپی برداری از این وب سایت پیگرد قانونی دارد
                </h4>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
     $(document).ready(function () {
        $('.toggle-bar').click(function(){
            $(".nav-responsive").toggleClass('go-botton');
        })
    });
</script>
</body>
</html>